.last {
    position: relative;
}

.bigmail {
    font-family: $font-text;
    font-size: 3vh;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;
    margin: 0 0 5px;
}

.pointerclass {
    cursor: none;
}

// .copyright {
//     font-family: $font-text;
//     margin-top: 3%;
//     text-align: center;
// }

.say--hello {
    filter: grayscale(1);
}

.clickable {
    cursor: none;
}


