// Headbereich :)

header {
    padding: 0.5rem 1.5rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 1%;
}

#d {
    max-width: 80px;
}

#git {
    width: 30px;
    max-width: 30px;
    transition: .15s ease all;

    &:hover {
        transform: scale(1.2);
    }
}

.titel {
    font-size: 50px;
}

.untertitel {
    font-size: 25px;
    padding: 5px 0;
}


// .divider {
//         position:absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         overflow: hidden;
//         transform: skewY(-12deg); 
//         transform-origin: 0;
//         background: #191A1E;
// }

.hq {
    color: $gold;
    font-size: 20px;
    line-height: 0;
    font-weight: 700;
}

#waves {
    bottom: -500px;
    left: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 425px) {
    #waves {
        bottom: -10px;
    }

    .is-hidden-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    #waves {
        bottom: -120px;
    }
}

.bg-illu {
    background: $grey;
    border-radius: 100%; 
}