// Headbereich :)

header {
    padding: 0.5rem 1.5rem;
}
#d
 {
    max-width: 80px;
}

#git {
    max-width: 30px; 
    transition: .15s ease all;
    &:hover {
        transform: scale(1.2);
    }
}
.flexend {
    justify-content: flex-end !important;
    text-align: right;
    text-align: -webkit-right;
}



.titel {
font-size: 24px; 
}

.untertitel {
    padding: 5px 0;
}

.comment {
    text-align: center;
}