$blau : #6772e5;
$white: #fff;
$grey: #191A1E;
$gold: #A58861;
$lightgrey: rgb(110, 110, 110);
$font-family : 'Muli', sans-serif;
$font-text: 'Source Code Pro', sans-serif;

* {
    box-sizing: border-box;
}

html,
body {
min-height: 100%;
font-size: 100%;
font-weight: 400;
font-style: normal;
text-size-adjust: 100%;
text-rendering:optimizeLegibility;
font-feature-settings: "pnum";
background: $white;
margin: 0px;
padding:0px;
font-family: $font-family;
}

h1 {
    font-family: $font-text;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: .025em;
    }
    
h2 {
        font-size: 42px;
        font-family: $font-text;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .025em;
        
    }

a {
    color: $gold;
    &:hover {
        color:$grey;
    }
    text-decoration: none;
}



p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}


.section {position:relative;}
.has-text-centered {
    text-align: center!important;
}

@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Source+Code+Pro&display=swap');
@import "bulmaconfig.scss";
@import "head.scss";
@import "cta.scss";
@import "firstsection.scss";
@import "skills.scss";
@import "footer.scss";