@charset "utf-8";
$blau : #6772e5;
$white: #fff;
$grey: #191A1E;
$gold: #A58861;
$lightgrey: rgb(110, 110, 110);
$font-family : 'Muli',
sans-serif;
$font-text: 'Source Code Pro',
sans-serif;

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    font-size: 100%;
    font-weight: 400;
    font-style: normal;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "pnum";
    background: $white;
    margin: 0px;
    padding: 0px;
    font-family: $font-family;
    cursor: none;
    overflow-x: hidden;
    // overflow-y: hidden;
    
}

@media screen and (min-width:1025px) {
    body::after {
        content: "";
        position: fixed;
        z-index: 999;
        top: var(--y);
        left: var(--x);
        right: 0;
        bottom: 0;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        mix-blend-mode: difference;
        pointer-events: none;
        transition: width 0.4s ease-in-out;
        transition: height 0.4s ease-in-out;
        font-size: 2rem;
        transform-origin: center
    }
    

    
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
}

h1 {
    font-family: $font-text;
    font-size: 54px;
    font-weight: 700;
    letter-spacing: .025em;
}

h2 {
    font-size: 42px;
    font-family: $font-text;
    line-height: 32px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .025em;

}

a {
    color: $gold;
    cursor: none;
    &:hover {
        color: $grey;
        
    }
    text-decoration: none;
}



p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
}

/*SCROLLBAR*/

// ::-webkit-scrollbar {
//     width: 6px;
// }
// ::-webkit-scrollbar-thumb {
//     background: #000;
// }

// ::-webkit-scrollbar-track {
//     background: transparent;
// }

// ::selection {
//     background-color: $gold;
//     color: #000;
// }

/*GRID*/ 
@media only screen  and (min-width:1920px) {
    .grid-line {
        position: absolute;
        display: inline-block;
        height: 100%;
        min-height: 100vh;
        width: 1px;
        background-color: #000;
        opacity: .05;
    }
    .grid-1 {
        left: 8.33vw;
    }
    .grid-2 {
        left: 16.63vw; 
    }
    .grid-3 {
        left: 24.93vw; 
    }
    .grid-4 {
        left: 33.23vw; 
    }
    .grid-5 {
        left: 41.53vw; 
    }
    .grid-6 {
        left: 49.83vw; 
    }
    .grid-6 {
        left: 58.13vw; 
    }
    .grid-7 {
        left: 66.43vw;
    }
    .grid-8 {
        left: 74.73vw;
    }
    .grid-9 {
        left: 83.03vw;
    }
    .grid-10 {
        left: 91.33vw;
    }
}


.has-text-centered {
    text-align: center !important;
}


@import url('https://fonts.googleapis.com/css?family=Muli:400,700|Source+Code+Pro&display=swap');
@import "bulmaconfig.scss";
@import "head.scss";
@import "cta.scss";
// @import "firstsection.scss";
// @import "skills.scss";
@import "footer.scss";
