.skills {
    position: relative;
    color: $white;
    background: $grey;
}

.grauer--balken {
    position: absolute;
    top: 0;
    right: 0;
}

.home {
    max-width: 100%;
    border-radius: 5px;
}
